@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Capitol Technology University<br />
    11301 Springfield Rd<br />
    Laurel, MD 20708-0000<br />
    <abbr title="Phone">Phone:</abbr>
    443-857-2178
</address>

<address>
    <strong>Questions?:</strong> <a href="mailto:dcdhungana@captechu.edu">Questions@askme.com</a><br />
    <strong>FeedBack!:</strong> <a href="mailto:dcdhungana@captechu.edu">Feedbacks@fb.com</a>
</address>

<p>Click on the above links to obtain more informations!</p>
<p>Thank You for visiting the blog. Have a great Day. </p>

