@page
@model ResumeModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <style>
        div.intro {
            text-align: center;
        }

        div.a {
            text-indent: 50px;
            text-align: left;
        }

        div.b {
            text-indent: 50px;
            text-align: left;
        }

        div.c {
            text-indent: 50px;
            text-align: left;
        }

        div.d {
            text-align: left;
            text-indent: 50px;
        }

        div.e {
            text-align: left;
            text-indent: 50px;
        }

        div.f {
            text-align: left;
            text-indent: 50px;
        }
    </style>
</head>
<body>

    <h1><font color="blue">-----------------------------------------------------------------------------------------------</font></h1>
    <div class="intro">
        <h1><font color="black" face="geoigia" size="10"><stong>DEVI DHUNGANA</stong></font></h1>
        <p><font color="grey" size="3">Address: 8501 Bassett Rd. Rosedale, MD. 21237</font></p>
        <p><font color="grey" size="2">Phone: 443-857-2178</font></p>
        <p><font color="green" size="3"><strong>Email: dcdhungana@captechu.edu</strong></font></p>
    </div>

    <h1><font color="blue">-----------------------------------------------------------------------------------------------</font></h1>

    <h1><font color="black" size="5" face="georgia"><strong>OBJECTIVE</strong></font></h1>

    <div class="a">
        <p>
            <pre>To obtain strong understanding on the field of software engineering and computer science. To obtain full time 
        employment on the tecnchical based company, specifically on the field on software engineering or software development.</pre>
        </p>
    </div>

    <h1><font color="black" size="5" face="georgia"><strong>EDUCATION</strong></font></h1>
    <div class="b">
        <p><font color="grey" size="4" face="calibri"></font><strong>SEPT. 2012 - JUNE 2016</strong></p>
        <p><font color="green" size="4" face="calibri"><strong>ENGINEERING, </strong></font><font color="grey" size="4">NATIONAL ACADEMY FOUNDATION HIGH SCHOOL</font></p>
        <p><font color="black" size="3">Average Cumalative GPA = 3.7</font></p>
        <p><font color="black" , size="3"><strong>Awards: </strong>Honor Rolls, Principle list, student of the month, etc</font></p><br /><br />

        <p><font color="grey" size="4" face="calibri"></font><strong>AUGUST 2016 </strong></p>
        <p><font color="green" size="4" face="calibri"><strong>SOFTWARE ENGINEERING, </strong></font><font color="grey" size="4">CAPITOL TECHNOLOGY UNIVERSITY</font></p>
        <p><font color="black" size="3">Average Cumalative GPA = 3.3</font></p>
        <p><font color="black" , size="3"><strong>Awards: </strong>Dean list</font></p>


    </div>

    <h1><font color="black" size="5" face="georgia"><strong>SKILLS</strong></font></h1>

    <div class="c">
        <p>
            <font color="black" size="3">
                <ul>
                    <li>Java</li>
                    <li>JavaFX</li>
                    <li>C-C++</li>
                    <li>SQL</li>
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>ASP.NET</li>
                    <li>Microsoft Office</li>
                    <li>Unix-Linux operating system</li>
                    <li>Object Orientiated Programming</li>
                    <li>Trilingual (Nepali, English, Hindi)</li>
                </ul>
            </font>
        </p><br />

    </div>

    <h1><font color="black" size="5" face="georgia"><strong>EXPERIENCE</strong></font></h1>

    <div class="d">
        <p><font color="grey" size="4"><strong>August 2013 - June 2016</strong></font></p>
        <p><font color="green" size="4"><strong>Tutor,</strong></font><font color="grey" size="4"> Refugee Youth Program</font></p>
        <p>
            <font color="black">
                <pre>As a tutor, I was responsible to help new international students with lack of English proficiency. I helped them to complete
            their homeworks, labs, classworks, and projects within given due dates. Other than that, I was responsible to interpret the language to the student
            who share my own nationality.</pre>
            </font>
        </p><br />

        <p><font color="grey" size="4"><strong>June 2017 - September 2018</strong></font></p>
        <p><font color="green" size="4"><strong>Associates,</strong></font><font color="grey" size="4"> Amazon Warehouse</font></p>
        <p>
            <font color="black">
                <pre>As an Associate, I was responsible for checking out customer orders and pack the items that has been ordered. 
                        Other responsibilities includes, helping new associates and report anything unusual to the authority.</pre>
            </font>
        </p>

    </div>

    <h1><font color="black" size="5" face="georgia"><strong>ACTIVITIES</strong></font></h1>

    <div class="e">
        <p><font color="grey" size="4" face="georgia">Sports</font></p>
        <p><font color="black"><ul><li>Soccor</li><li>Volleyball</li><li>Cricket</li><li>Badminton</li><li>Pool</li><li>Table Tennis</li></ul></font></p><br />
        <p><font color="grey" size="4" face="georgia">Hobbies</font></p>
        <p><font color="black"><ul><li>Traveling</li><li>Swimming</li><li>Hiking</li><li>Staying away from crazy people</li></ul></font></p><br />
        <p>
            <pre>In a past couple of years I have participated in several activities such as, soccor, volleyball, batminton, table tennis, and others.
            </pre>
        </p>
    </div>

    <h1><font color="black" size="5" face="georgia"><strong>REFERENCE</strong></font></h1>

    <div class="f">
        <p>Available upon request!</p>
        <p>For contact information, visit the contact link above. Thank you!</p><br /><br />

    </div>
    <h1><font color="green">-----------------------------------------------------------------------------------------------</font></h1>


</body>
</html>

<h3>@Model.Message</h3>

<p><font size="2" face="georgia" color="red"><strong>Web access Date and Time: </strong></font><span id="datetime"></span></p>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>